/*
CSS for GeoWorld

Have to develop own as use of bootstrap / other external framework is not allowed
 */

/* Reset default styles */
html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

/* Some grid stuff first */

main {
    margin:0;
}

.h-center {
    margin-left:auto;
    margin-right:auto;
}

.flex-grid {
    display: flex;
    margin:20px;
}

.col {
    flex:1;
}

/* Collapse grid on smaller devices */
@media (max-width: 400px) {
    .flex-grid {
        display: block;
    }
}


/* Header */
header {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    min-height: 100%;
}


/** Header navigation **/
nav {
    padding: 20px 15px;
    color: #fff;
}

nav ul {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul > li {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

nav ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    color: #fff;
}

.nav-right {
    clear: none;
    float: right;
}

.nav-brand,
.nav-brand h1 {
    display: inline;
}


/* Forms and inputs */
input[type="text"],
input[type="search"] {
    display: block;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    box-shadow: none;
    border-radius: 0;
}
input[type="text"]:focus {
    outline: none;
}

input[type="text"],
input[type="search"] {
    padding: 10px;
    border: none;
    border-bottom: solid 2px #ffffff;
    transition: border 0.3s;
}

input[type="text"]:focus,
input[type="search"]:focus {
    border-bottom: solid 2px lightgray;
}

/** Table Styling **/

table {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}

table > tbody > tr > td {
    border-top: 1px solid #ddd;
    padding: 10px;
}


/** Cards **/

.card {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.card > .card-body {
    padding: 15px;
}

.card > .card-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.card-standard {
    border-color: #ddd;
}

.card-standard > .card-heading {
    color: black;
    background-color: #f5f5f5;
    border-color: #ddd;
}

/** Header form **/

.jumbo-feature {
    margin-top:-68px;
}

.jumbo-feature > .jumbo-content {
    text-align: center;
    clear: both;
    position: relative;
    top: 35%;
    transform: translateY(-35%);
}

.jumbo-feature > .jumbo-content > .header-search {
    margin-left: auto;
    margin-right:auto;
    width: 30%;
}

.jumbo-feature > .jumbo-content > .header-search input {
    height: 40px;
    font-size:40px;
    color: #ffffff;
}


/* Country Profile */
#country-profile header {
    text-align: center;
    color: #ffffff;
}

/* Flag thumbnail */
.flag-thumbnail {
    border:5px solid #ffffff;
    background-color: #000000;
    height: 100px;
    -moz-border-radius:75px;
    -webkit-border-radius: 75px;
    width: 100px;
}



/* Article items (search results) */
.search-item {
    border-bottom: 3px solid lightgray;
    padding: 0 0 30px 0;
}




